h1{
    margin-top:60px;
    text-align: center;
    color: #2c2e30;
}

#container{
    /* border:1px solid brown; */
    margin:auto;
    margin-top:30px;
    height:auto;
    width:40%;
    margin-bottom:50px;
}
#put{
    border:1px solid white;
    align-items: center;
   
    padding: 4%;
    height: 60px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#put{
    text-decoration:none;
    font-size: 13px;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.54);
    
}

details>summary{
    display:grid;
}

#ok1{
    /* border:1px solid red; */
    line-height: 30px;
    padding: 2%;
    height: 55px;
    margin-top:0.3%;
    font-size: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    color: #2c2e30;
    
}


    
