*{
    font-family: sans-serif;
}
#divone{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}
#divone>div{
    width: 50%;
    margin: auto;
    margin-top: 65px;
}
#divone>div:nth-child(1){
    padding: 10px 35px 0px 0px;
}
#divone>div>h2{
    font-size: 48px;
    font-family: "Google Sans", Arial, sans-serif;
    color: #3C4043;
    font-weight: lighter;
}
#divone>div>p{
    font-size: 18px;
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    color: #5f5e5e;
    margin-top: -22px;
    line-height: 30px;
}
#divone>div>button{
    font-size: 18px;
    font-family: "Google Sans", Arial, sans-serif;
    color: #FFFFFF;
    background-color: #1A73E8;
    border: none;
    padding: 13px 24px;
    cursor: pointer;
    margin-top: 12px;
}
#divone>div>button:hover{
    background-color: #025cd1;
}
#divone>div>img{
    width: 500px;
}
#divtwo{
    background-color: #FBFBFC;
    margin: 0px 26px;
    padding: 25px 0px;
    width: 101%;
    margin-left: -7px;
}
#divtwo>div{
    margin-left: 15.5%;
}
#divtwo>div>p{
    font-size: 14px;
    margin-top: 5px;
    color: #424242;
}
#divtwo>div>div{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 30px;
    margin-left: 5px;
}
#divtwo>div>div>img{
    width: 82px;
}
#divtwo>div>div>img:nth-child(3){
    width: 45px;
}
#divthree{
    background-color: #1A73E8;
    color: #FFFFFF;
    width: 101.1%;
    margin-left: -7px;
}
#divthree>div{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
#video{
    background-color: white;
    border-radius: 50%;
    display: flex;
    padding: 25px 20px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: -20px;
}
#divthree>div>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#divthree>div>div:nth-child(2)>div{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
    font-weight: lighter;
}
#divthree>div>div:nth-child(2)>div>h3{
    font-size: 32px;
    font-family: "Google Sans", Arial, sans-serif;
    margin-bottom: 0px;
    font-weight: lighter;
}
#divthree>div>div:nth-child(2)>div:nth-child(1){
    width: 76%;
}
#divthree>div>div:nth-child(2)>div:nth-child(2){
    margin-top: 30px;
}
#divthree>div>div:nth-child(2)>div:nth-child(2)>a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Google Sans", Arial, sans-serif;
}
#divfour{
    width: 70%;
    margin: 60px auto;
    padding: 0px 10%;
    text-align: center;
    margin-bottom: 80px;
}
#headfour{
    width: 77%;
    margin: auto;
    line-height: 30px;
    font-size: 17px;
    color: #5e5d5d;
}
#headfour>h1{
    color: #3C4043;
    font-size: 35px;
    font-weight: lighter;
    font-family: sans-serif;
}
#bodyfour{
    display: grid;
    gap: 23px;
    text-align:start;
    grid-template-columns: repeat(3, 1fr);

}
#bodyfour>div{
    border: 1px solid rgb(219, 216, 216);
    padding: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
}
#bodyfour>div:hover{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: scale(1.014);
}
#bodyfour>div>div:nth-child(1)>p:nth-child(2){
    font-weight: bold;
    font-size: 17px;
    color: #3C4043
}
#bodyfour>div>div:nth-child(1)>p:nth-child(3){
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif;
    color: #424242;
}
#bodyfour>div>div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    color: #1A73E8;
    font-size: 20px;
    font-weight: bolder;
    margin-top: -15px;
}
#divfive{
    background-color: #F9F8FA;
    padding: 50px 0px 80px 0px;
}
#divfive>div{
    width: 70%;
    margin: auto;
    display: flex;
    line-height: 26px;
    font-size: 16px;
}
#divfive>div>div:nth-child(1){
    width: 40%;
}
#divfive>div>div:nth-child(2){
    width: 60%;
}
#divfive>div>div>img{
    width: 88%;
    margin-top: 20px;
}
#divfive>div>div>p{
    font-size: 16px;
    color: #333438;
    margin-bottom: 30px;
}
#divfive>div>div>a{
    border: 2px solid #1967D2;
    text-decoration: none;
    color: #1967D2;
    font-size: 16px;
    padding: 13px 25px;
}
#divfive>div>div>a:hover{
    background-color: #1967D2;
    color: white;
    font-weight: bold;
}
#q1>img, #q2>img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transform: rotate(0deg);
}
#divsix{
    padding: 50px 0px 80px 0px;
    text-align: center;
    margin-bottom: 100px;
}
#divsix>div{
    width: 60%;
    margin: auto;
}
#divsix>div>h1{
    font-size: 35px;
    font-weight: lighter;
    padding-bottom: 80px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(194, 189, 189);
}
#divsix>div>a{
    text-decoration: none;
    color: black;
    background-color: #f7fafc;
    border: none;
    font-size: 18px;
    margin-top: 300px;
    padding: 15px 28px;
}
#divsix>div>a:hover{
    color: #1967D2;
    background-color: #F1F3F4;
}
#divsix>div>div{
    border-bottom: 1px solid rgb(194, 189, 189);
}
#divsix>div>div:nth-child(3){
    margin-bottom: 60px;
}
#divsix>div>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;
    text-align: left;
}
#divsix>div>div>div:nth-child(1)>p{
    margin: 30px 0px;
}
#ans1>p, #ans2>p{
    font-size: 17px;
    line-height: 25px;
    color: #515457;
}
#ans1, #ans2{
    display: none;
}






@media all and (min-width:1024px) and (max-width:1320px){
    #divone>div:nth-child(1){
        width: 55%;
    }
    #divone>div:nth-child(2){
        width: 45%;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    #divone>div:nth-child(1){
        width: 60%;
    }
    #divone>div:nth-child(2){
        width: 40%;
        margin-right: 100px;
    }
    #divone>div>img{
        width: 500px;
    }
    #divthree>div>div:nth-child(2){
        display: inline;
    }
    #divthree>div>div:nth-child(2)>div:nth-child(2){
        margin-top: -25px;
    }
    #divthree>div>div:nth-child(2)>div:nth-child(1){
        width: 90%;
    }
    #divthree>div{
        width: 90%;
    }
    #video{
        width: 45px;
        height: 30px;
    }
    #divfour{
        width: 85%;
        padding: 10px;
        margin: auto;
        margin-top: 40px;
    }
    #headfour{
        width: 90%;
        margin: auto;
    }
    #bodyfour{
        gap: 23px 23px;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    #divfive>div{
        width: 70%;
        margin: auto;
        margin-top: 90px;
        display: inline;
        line-height: 26px;
        font-size: 16px;
    }
    #divfive>div>div:nth-child(2){
        width: 80%;
        margin: auto;
    }
    #divfive>div>div:nth-child(1){
        width: 80%;
        margin: auto;
    }
    #divfive>div>div>img{
        width: 60%;
        margin: auto;
    }
    #divsix>div{
        width: 80%;
        margin: auto;
    }
}
@media all and (min-width:235px) and (max-width:767px){
    #divone{
        display: inline;
    }
    #divone>div>img{
        width: 100%;
        margin: auto;
    }
    #divone>div{
        width: 90%;
    }
    #divtwo{
        padding: 25px 0px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #divtwo>div{
        text-align: center;
        width: 90%;
        padding: 0px;
        margin: auto;
        margin-left: 5px;
    }
    #divtwo>div>p{
        font-size: 16px;
        margin-top: 5px;
        color: #424242;
    }
    #divtwo>div>div>img{
        width: 10%;
    }
    #divtwo>div>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
        margin-top: 30px;
        padding: 0px;
    }
    #divthree{
        width: 100%;
        margin: auto;
        padding: 30px 0px;
        text-align: center;
    }
    #divthree>div{
        display: inline;
    }
    #divthree>div>div:nth-child(2){
        display: inline;
    }
    #divthree>div>div:nth-child(2)>div:nth-child(2){
        margin-top: -25px;
    }
    #divthree>div>div:nth-child(2)>div:nth-child(1){
        width: 90%;
        margin-left: 5%;
    }
    #divthree>div{
        width: 90%;
    }
    #video{
        width: 35px;
        height: 25px;
        margin: auto;
    }
    #divfour{
        width: 90%;
        margin: auto;
        margin-top: 50px;
        padding: 0px;
        margin-bottom: 70px;
    }
    #headfour{
        width: 80%;
        margin: auto;
    }
    #bodyfour{
        gap: 20px;
        width:100%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    #divfive{
        width: 100%;
    }
    #divfive>div{
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-left: 5%;
        display: inline;
        line-height: 26px;
        font-size: 16px;
    }
    #divfive>div>div:nth-child(2){
        width: 90%;
        margin: auto;
    }
    #divfive>div>div:nth-child(1){
        width: 90%;
        margin: auto;
    }
    #divfive>div>div>img{
        width: 60%;
    }
    #divsix>div{
        width: 90%;
        margin: auto;
    }
}