#Top_box {
    width: 100%;
    height: 360px;
    padding-top: 60px;
}

#Top_box h1 {
    color: #3c4043;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: -.1px;
    line-height: 3.8rem;
    margin-bottom: 8px;
    padding-bottom: 0;
    margin-left: 50px;
}

#Top_box p {
    margin-left: 50px;
    line-height: 1.8rem;
    color: #5f6368;
    font-size: 20px;
    padding: 0;
}

.search {
    margin-left: 50px;
    margin-top: 40px;
    padding: 12px 12px;
    width: 43%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#seacrh_input {
    width: 70%;
    padding: 2px 2px;
    border: none;
    outline: none;
}

.search svg {
    width: 5%;
    margin-top: 5px;
}

#btn {
    margin-top: 30px;
    margin-left: 45px;
}

#btn button {
    font-weight: bold;
    font: 400 1.2rem Google Sans, Arial, sans-serif;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e8eaed;
    border-radius: 6px;
}

.btn1 {
    color: blue;
}

#Mid_box {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #f5f5f5;

}

#Mid_box>.slide {
    width: 19%;
    height: 100%;

}

#Mid_box #story_box {
    width: 77%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

#story_box>div {
    height: 340px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}

.headind {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;

}

.headind p {
    margin-left: 50px;
}

.headind h3 {
    margin-left: 130px;
}


#story_box div h3 {
    color: #3c4043;
    font: 500 1.2rem/2.6rem Google Sans, Arial, sans-serif;
    letter-spacing: .16px;
    margin: 7px 0 10px;
    max-height: 5.6rem;
    overflow: hidden;
}

.slide {
    background-color: #f5f5f5;

}

.slide span {
    margin-left: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #5f6368;
    line-height: 3rem;
}

.slide svg {
    margin-right: 20px;

}

   span #checkBox{
    height: 50px;
    width: 18px;
    margin-right: 20px;
 } 



.card-event__property-icon[_ngcontent-fan-c69] {
    color: #f9ab00;
    font-size: 1.8rem;
    height: 18px;
    vertical-align: text-top;
    width: 18px;
    margin: 0 12px 0 0;
}

#story_box div button {
    margin: 20px 0px 0px 30px;
    font-size: 10px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid teal;
    color: green;
    border-radius: 3px;
    cursor: pointer;
}

#story_box div h3 {
    margin-left: 30px;
    /* letter-spacing: .16px; */
    /* overflow: hidden; */
    /* font-size: 23px; */

}

#story_box div p {
    margin-left: 30px;
    line-height: 1.5rem;
    color: #5f6368;

}

/* color: #5f6368;
font: 300 1.3rem/2.4rem Roboto,Arial,Helvetica,serif;
margin-bottom: 10px;
max-height: 9.6rem;
overflow: hidden; */


#story_box div span {
    margin-left: 30px;
    line-height: 1.8rem;
}

.arrow svg {
    color: blue;
    margin-left: 80%;
}

.slide .slide1 {
    height: auto;
    margin-top: 36px;
}

.slide .slide1 p {
    margin-left: 50px;
}

.filter span {
    color: blue;
}

hr {
    width: 80%;
    margin-left: 20px;
}

#loadMore {
    padding: 65px 65px;
    background-color: #f5f5f5;
}

#loadMore button:hover {
    background-color: #bbe0f3d2;
}


#loadMore button {
    margin-left: 54%;
    padding: 12px 18px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}


@media only screen and (min-width: 500px) and (max-width: 768px) {

    #Top_box h1{
        margin-left: 10px;
    }

    #Top_box p{
        margin-left: 10px;
    }

    .search{
      width: 90%;
      margin-left: 10px;
    }

    #btn {
        margin-left: 10px;
    }
}



@media only screen and (min-width: 500px) and (max-width: 768px) {

    #Mid_box #story_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
 
}

