*{
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    display: flex;
    width: 100%;
    margin-left: -6px;
    padding: 16px 0px 7px 0px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    margin-top: -5px;
    background-color: #FFFFFF;
    top: 0;
}
#navbar>div{
    display: flex;
    align-items: center;
}
#logo{
    width: 212px;
    margin-right: 15px;
    cursor: pointer;
    margin-left: 22px;
}
#navbar>div:nth-child(1){
    justify-content: space-between;
    align-items:center;
    gap: 28px;
}
#navbar>div:nth-child(1)>button, #morediv{
    border: none;
    background: none;
    color: #5F6368;
    cursor: pointer;
    font-size: 14px;
}
#morediv>div>img{
    width: 15px;
    height: 13px;
}
#signinmorediv{
    border: none;
    background: none;
    color: #5F6368;
    cursor: pointer;
    font-size: 14px;
    display: none;
}
#signinmorediv>div>img{
    width: 15px;
    height: 13px;
}
#signinmorediv>div>img{
    width: 15px;
    height: 13px;
}
#navbar>div:nth-child(2){
    width: 30%;
    justify-content: flex-end;
}
#register{
    color: #FFFFFF;
    font-size: 16px;
    background-color: #1A73E8;
    padding: 14px 28px;
    font-family: "Google Sans", Arial, sans-serif;
    border: none;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
#signin{
    padding: 10px 24px;
    color: #1A73E8;
    margin: 0px 10px 0px 0px;
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
}
#footer{
    background-color: #FFFFFF;
    width: 100%;
}
#footer>div{
    width: 100%;
    display: flex;
    align-items: center;
}
#footer>div:nth-child(1){
    width: 80%;
    color: #5F6368;
    font-size: 13px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 60px;
}
#footer>div:nth-child(1)>div>select{
    padding: 2px;
    font-size: 16px;
    border: 1px solid rgb(150, 149, 149);
    margin-left: 20px;
}
#footer>div:nth-child(2){
    border-top: 1px solid rgb(224, 222, 222);
    width: 99%;
    margin-left: -5px;
    display: flex;
    justify-content: right;
}
#footer>div:nth-child(2)>div{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5F6368;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 29px;
}
#facebook, #linkedin{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
#twitter{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#moreappend{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    margin-top: 9px;
    margin-left: -15px;
    color: #5F6368;
    background-color: white;
    display: none;
}
#moreappend>div>a{
    display: block;
    padding: 19px;
    padding-right: 80px;
    cursor: pointer;
}
#moreappend>div>a:hover{
    background-color: #e6e1e1c2;
}
#signinmoreappend{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    margin-top: 9px;
    margin-left: -15px;
    color: #5F6368;
    background-color: white;
    display: none;
}
#signinmoreappend>div>a{
    display: block;
    padding: 19px;
    padding-right: 80px;
    cursor: pointer;
}
#signinmoreappend>div>a:hover{
    background-color: #e6e1e1c2;
}
#menu{
    height: 25px;
    width: 20px;
    display: none;
}
#menudiv{
    background-color: white;
    display: none;
    color: black;
    margin-top: 65px;
    width: 200px;
    margin-left: -7px;
    height: 100%;
    position: fixed;
    display: none;
    line-height: 50px;
    padding-left: 15px;
}
#menudiv>a{
    text-decoration: none;
    color: #8f8e8e;
    font-size: 16px;
    padding: 19px 0px;
}
#menudiv>a:nth-child(15){
    padding: 10px 78px 10px 54px;
    color: #1A73E8;
    margin: 0px 10px 0px 0px;
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
    border-top: 1px solid rgb(185, 182, 182);
}
#menudiv>a:nth-child(17){
    color: #FFFFFF;
    width: 90%;
    font-size: 16px;
    background-color: #1A73E8;
    padding: 12px 58px;
    font-family: "Google Sans", Arial, sans-serif;
    border: none;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
@media all and (min-width:1024px) and (max-width:1320px){
    #live_training, #remote_working{
        display: none;
    }
    #menudiv{
        display: none;
    }
    #footer>div:nth-child(1){
        display: flex;  
        flex-wrap: wrap;
    }
    #footer>div:nth-child(1)>div{
        margin-top: 30px;
    }
}
@media all and (min-width:768px) and (max-width:1023px){
    #navbar>div:nth-child(1)>button, #navbar>div:nth-child(1)>div{
        display: none;
    }
    #footer>div:nth-child(1){
        display: flex;  
        flex-wrap: wrap;
    }
    #footer>div:nth-child(1)>div{
        margin-top: 30px;
    }
    #logo{
        margin-left: 0px;
    }
    #menu{
        margin-left: 15px;
        display: inline;
    }
    #register{
        margin-right: 20px;
    }
}
@media all and (min-width:235px) and (max-width:767px){
    #navbar>div:nth-child(1)>button, #navbar>div:nth-child(1)>div{
        display: none;
    }
    #logo{
        margin-left: 0px;
    }#footer>div:nth-child(1){
        display: flex;  
        flex-wrap: wrap;
    }
    #footer>div:nth-child(1)>div{
        margin-top: 30px;
    }
    #menu{
        display: inline;
        margin-left: 15px;
    }
    #menudiv{
        width: 35%;
        display: none;
        margin-top: 0px;
    }
    #navbar{
        padding: 19px;
    }
    #register, #signin{
        display: none;
    }
}